name: Build Android APK
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build with Buildozer
        # Kita pakai robot yang berbeda karena yang lama sudah dihapus ownernya
        uses: Enteleform/buildozer-action@v1.1
        with:
          save_bundle: true

      - name: Upload APK
        # Pakai v4 biar nggak kena blokir GitHub lagi
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
